<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="cards.css">
    <link rel="stylesheet" href="general.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link
    rel="shortcut icon"
    href="https://webserver-ecell.s3.ap-south-1.amazonaws.com/img/logo3.png"
    type="image/x-icon"
  />
    <title>E-cell Blog</title>
</head>

<body>
